<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<header>
    <h1>Products</h1>
</header>
<br>
<a href="categories.html">List of categories</a>
<br>
<br>
<section>
    <table align="center" border="1">
        <thead>
        <tr>
            <th bgcolor="#778899" height="25" width="80">Product code</th>
            <th bgcolor="#778899" height="25" width="650">Product name</th>
            <th bgcolor="#778899" height="25" width="650">Category name</th>
            <th bgcolor="#778899" height="25" width="80">Price</th>
            <th bgcolor="#778899" height="25" width="250"><a href="addProduct.html">Add product</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td align="center" height="25">1</td>
            <td height="25">Football ball</td>
            <td height="25">Sports products</td>
            <td align="center" height="25">800</td>
            <td align="center" height="25">
                <a href="editProduct.html">Edit</a>
                &nbsp &nbsp
                <a href="deleteProduct.html">Delete</a></td>
        </tr>
        <tr>
            <td align="center" height="25">2</td>
            <td height="25">Dog food</td>
            <td height="25">Zoo products</td>
            <td align="center" height="25">120</td>
            <td align="center" height="25">
                <a href="editProduct.html">Edit</a>
                &nbsp &nbsp
                <a href="deleteProduct.html">Delete</a></td>
        </tr>
        <tr>
            <td align="center" height="25">3</td>
            <td height="25">Cat food</td>
            <td height="25">Zoo products</td>
            <td align="center" height="25">120</td>
            <td align="center" height="25">
                <a href="editProduct.html">Edit</a>
                &nbsp &nbsp
                <a href="deleteProduct.html">Delete</a></td>
        </tr>
        </tbody>
    </table>
</section>
<footer>
    <hr>
    <p align="center">Categories of products 2021</p>
</footer>
</body>
</html>